*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --color-bg: #040b14;
    --color-hover: #149ddd;
}

.contenedor{
    display: flex;
    flex-direction: column;
    padding: 0 !important;
    padding-right: 0 !important;
}

.header-profile{
    height: 100vh;
    width: 20%;
    color: white;
    position: fixed;
    z-index: 1;
    background-color: var(--color-bg);
}

.contenedor .header-profile .profile-box{
    height: 35%;
}

.contenedor .header-profile .navigation-box{
    height: 65%;
}

.contenedor .header-profile .profile-box .socialnet i{
    font-size: 20px;
    padding: 10px;
    background-color: #202122;
    border-radius: 50%;
    color: white;
}

.contenedor .header-profile .profile-box .socialnet i:hover{
    background-color: var(--color-hover);
    transition: all .5s;
}

.contenedor .header-profile .navigation-box nav ul{
    display: flex;
    gap: 30px;
    padding-left: 40px;
}

.contenedor .header-profile .navigation-box nav li{
    display: flex;
    align-items: center;
    gap: 10px;
}

.img-home{
   width: 100%;
   height: 100vh;
   background-position: top left;
    background-repeat: no-repeat;
    

    /*Cubreme el tamaño del hero*/
    object-fit: cover;
}

.textosHome{
    color: white;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 20%;
    margin-left: 33%;
    text-shadow: 1px 1px 2px black;
    
}

.textosHome .nombre-home{
    font-size: 50px;
}


.contenedor .about{
    display: flex;
    height: 80vh;
    padding-top: 40px;
    padding-left: 45px;
    margin-left: 20%;
    justify-content: flex-start ;
    flex-direction: column;
    color: 
    #173b6c;
    z-index: 1;
    
}

.contenedor .about p{
   color: black;
   padding: 10px 100px 30px 0px;
}

.contenedor .about .seccionImagenTitulo{
    width: 100%;
    height: 40vh;
    display: flex;
    gap: 70px;
}

.contenedor .about img{
    width: 30%;
}

.contenedor .about .listasAbout{
    display: flex;
    gap: 150px;
    list-style: none;
}

.contenedor .about .listasAbout .listaAboutIzquierda{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: -30px;
    margin-top: -20px;
    list-style: none;
}

.contenedor .about .listasAbout .listaAboutIzquierda li span{
    margin-left: 20px;
}

.contenedor .about .listasAbout .listaAboutDerecha{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: -30px;
    margin-top: -20px;
    list-style: none;
}

.contenedor .about .listasAbout .listaAboutDerecha li span{
    margin-left: 20px;
}

.contenedor .skills{
    display: flex;
    height: 65vh;
    padding-top: 40px;
    padding-left: 45px;
    padding-right: 50px;
    margin-left: 20%;
    justify-content: flex-start ;
    flex-direction: column;
    color: 
    #173b6c;
    background-color: #f5f8fd;
    z-index: 1;
    
}

.contenedor .skills .grillaSkills{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 50px;
    padding-top: 30px;
}

.contenedor .experienciaLaboral{
    display: flex;
    height: 65vh;
    padding-top: 40px;
    padding-left: 45px;
    padding-right: 50px;
    margin-left: 20%;
    justify-content: flex-start ;
    flex-direction: column;
    color: #173b6c;
    background-color: white;
    z-index: 1;
}



.contenedor .grillaExperiencia{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 50px;
    padding-top: 30px;
}   

.contenedor .portafolioDuvan{
        display: flex;
        height: 100vh;
        padding-top: 40px;
        padding-left: 45px;
        padding-right: 50px;
        margin-left: 20%;
        justify-content: flex-start ;
        flex-direction: column;
        color: #173b6c;
        background-color: #f5f8fd;
        z-index: 1;
    }

    .contenedor .grillaPortafolio{
        display: flex;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 30px;
        padding-top: 50px;
        flex-wrap: wrap;
        justify-content: space-around;

    }

    .contenedor .grillaPortafolio div{
        display: flex;
        border: solid 1px black;
        width: 400px;
        height: 200px;
        flex-wrap: wrap;
    }

    .contenedor .grillaPortafolio div img{
        width: 100%;
        height: 100%;
    }

    