@import url(/css/responsive.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --color-bg: #040b14;
    --color-hover: #149ddd;
}

.contenedor{
    display: flex;
    flex-direction: column;
    padding: 0 !important;
    padding-right: 0 !important;
}

.contenedor header{
    height: 100%;
}

.header-profile{
    height: 100vh;
    width: 20%;
    color: white;
    position: fixed;
    z-index: 1;
    background-color: var(--color-bg);
}

.contenedor .header-profile .profile-box{
    height: 35%;
}

.contenedor .header-profile .navigation-box{
    height: 65%;
}

.contenedor .header-profile .profile-box .socialnet i{
    font-size: 20px;
    padding: 10px;
    background-color: #202122;
    border-radius: 50%;
    color: white;
}

.contenedor .header-profile .profile-box .socialnet i:hover{
    background-color: var(--color-hover);
    transition: all .5s;
}

.contenedor .header-profile .navigation-box nav ul{
    display: flex;
    gap: 30px;
    padding-left: 40px;
    list-style: none;
}

.contenedor .header-profile .navigation-box nav li a{
    display: flex;
    align-items: center;
    gap: 10px;
}

.contenedor .header-profile .navigation-box nav ul a{
    text-decoration: none;
    color: white;
}

.contenedor .header-profile .navigation-box nav ul a:hover{
    color: var(--color-hover);
    transition: all .5s;
}

.hero img{
    display: flex;
    background: url(/assets/foto-personal.jpeg);
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /*Cubreme el tamaño del hero*/
    object-fit: cover;
}

.textosHome{
    color: white;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 20%;
    margin-left: 33%;
    text-shadow: 1px 1px 2px black;
    
}

.textosHome .nombre-home{
    font-size: 50px;
}


.contenedor .about{
    display: flex;
    height: 80vh;
    padding-top: 40px;
    padding-left: 45px;
    margin-left: 20%;
    justify-content: flex-start ;
    flex-direction: column;
    color: 
    #173b6c;
    z-index: 1;
    
}

.contenedor .about p{
    color: black;
    padding: 10px 100px 30px 0px;
}

.contenedor .about .seccionImagenTitulo{
    width: 100%;
    height: 40vh;
    display: flex;
    padding-top: 30px;
    gap: 70px;
    
}

.contenedor .about .seccionImagenTitulo .seccionImagen .imagenDev{
    width: 200px;
    box-shadow:  7px 20px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 7px 20px 0px rgba(0,0,0,0.75);
box-shadow: 3px 7px 20px 0px rgba(0,0,0,0.75);
border-radius: 10px;
}

.contenedor .about .listasAbout{
    height: 100%;
    display: flex;
    gap: 150px;
    list-style: none;
}

.contenedor .about .listasAbout .listaAboutIzquierda{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: -30px;
    margin-top: -20px;
    list-style: none;
}

.contenedor .about .listasAbout .listaAboutIzquierda li span{
    margin-left: 20px;
}

.contenedor .about .listasAbout .listaAboutDerecha{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: -30px;
    margin-top: -20px;
    list-style: none;
}

.contenedor .about .listasAbout .listaAboutDerecha li span{
    margin-left: 20px;
}

.contenedor .skills{
    display: flex;
    height: 65vh;
    padding-top: 40px;
    padding-left: 45px;
    padding-right: 50px;
    margin-left: 20%;
    justify-content: flex-start ;
    flex-direction: column;
    color: 
    #173b6c;
    background-color: #f5f8fd;
    z-index: 1;
    
}

.contenedor .skills .grillaSkills{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 50px;
    padding-top: 30px;
}

.contenedor .experienciaLaboral{
    display: flex;
    height: 65vh;
    padding-top: 40px;
    padding-left: 45px;
    padding-right: 50px;
    margin-left: 20%;
    justify-content: flex-start ;
    flex-direction: column;
    color: #173b6c;
    background-color: white;
    z-index: 1;
}



.contenedor .grillaExperiencia{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 50px;
    padding-top: 30px;
}   

.contenedor .portafolioDuvan{
        display: flex;
        height: 100vh;
        padding-top: 40px;
        padding-left: 45px;
        padding-right: 50px;
        margin-left: 20%;
        justify-content: flex-start ;
        flex-direction: column;
        color: #173b6c;
        background-color: #f5f8fd;
        z-index: 1;
    }

.contenedor .grillaPortafolio{
        display: flex;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 30px;
        padding-top: 50px;
        flex-wrap: wrap;
        justify-content: space-around;

    }

.contenedor .grillaPortafolio div{
        display: flex;
        border: solid 1px black;
        width: 400px;
        height: 200px;
        flex-wrap: wrap;
    }

.contenedor .grillaPortafolio div img{
        width: 100%;
        height: 100%;
    }

.contenedor .menuResponsive{
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
    padding: 20px;
    display: none;

}

.contenedor input{
    display: none;
}


/*SECCION DE RESPONSIVE*/

@media(max-width: 1080px){

    /*Ocultamos el header con el responsive*/
    .contenedor header{
        display: none;
        z-index: 4;
    }

    /*Colocamos Boton para abrir barra de navegacion*/
    .contenedor .menuResponsive{
        margin-top: 5px;
        margin-left: 10px;
        display: flex;
        position: absolute;
        position: fixed;
        justify-content: flex-end;
        z-index: 5;
        background-color: #202122;
        padding: 15px;
        border-radius: 50px;
        color: white;
    }
    
    .contenedor header{
        margin-left: -300%;
    }
    
    .contenedor input:checked + header{
        margin-left: 0%;
        transition:all .8s;
        width: 100%;
    }

    .contenedor .textosHome{
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0px 0px 40px 80px;
        width: 100%;
        height: 100%;
        align-items: flex-start;
    }

    .contenedor .textosHome h1{
        font-size: 25px;
    }

    /*SECCION ACERCA DE MÍ*/

    .contenedor .about{
        /*width: 100%;
        margin: 0;
        height: 115vh;
        padding: 20px 40px 20px 20px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;*/

        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        padding: 20px;   
        margin: 0;
    }

    .contenedor .about .seccionImagenTitulo{
        /*display: block;
        gap: 10px;*/
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        padding: 20px;   
        margin: 0;
        gap: 20px;
        
    }

    .contenedor .about .seccionImagenTitulo .seccionImagen{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .contenedor .about .seccionImagenTitulo .seccionImagen .imagenDev{
        width: 100%;
        height: 100%;
        border-radius: 10px;
        box-shadow:  7px 20px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 7px 20px 0px rgba(0,0,0,0.75);
box-shadow: 3px 7px 20px 0px rgba(0,0,0,0.75);
    }

    .contenedor .about .listasAbout{
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: justify;
    }

    .contenedor .about .descripcionAbout{
        width: 100%;
        padding: 0px;
        text-align: justify;
    }

    .contenedor .skills{
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        padding: 20px 40px 50px 20px;   
        margin: 0;
    }

    .contenedor .skills .grillaSkills{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    .contenedor .skills .descripcionSkills{
        width: 100%;
        padding: 0px;
        text-align: justify;
    }

    .contenedor .experienciaLaboral{
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        padding: 20px 40px 20px 20px;   
        margin: 0;
    }

    .contenedor .grillaExperiencia{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 50px;
        padding-top: 30px;
    } 

    .contenedor .portafolioDuvan{
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        padding: 20px 20px 20px 20px;   
        margin: 0;
    }
}
